.quiz{
    background-color: rgba(226, 122, 255, 0.65);
    color: rgb(36, 0, 84);
    text-align: center;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -220px;
    border-radius: 5px;
    position: fixed;;
}

.question_count{
    font-family: 'PequenaPro-LayerOne' cursive;
    color: rgb(36, 0, 84);
    font-size: 30px;
}

.question_text{
    font-family: 'PequenaPro-LayerOne' cursive;
    color: rgb(36, 0, 84), 0, 84;
    font-size: 45px;
}
.score_section{
    bottom: 0;
    color: rgb(36, 0, 84)   , 0, 84;
    font-size: 30px;
    margin-left: 3%;
    position: absolute;
}
.answer_section{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.answer_button{
    background-color: rgb(146, 122, 255, 0.85);
    padding: 3px 7px;
    color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 10px;
    width: 60%;
}
.answer_button:active {
    background-color: rgb(36, 0, 84) ;
}

.result_section {
    text-align: center;
    margin-top: 20px; /* Увеличьте или уменьшите отступ по необходимости */
}

.score_section {
    font-size: 30px; /* Размер шрифта для результата */
    color: rgb(36, 0, 84); /* Цвет текста */
    margin-top: 20px; /* Отступ сверху */
}

